.cart-item {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.cart-name {
  width: 60%;
}

.cart-price {
  width: 30%;
  justify-content: right;
  margin-left: 0.5rem;
  text-align: center;
}

.cart-name-label {
  font-weight: 500;
}

.delete {
  width: 1rem;
  height: 1rem;
}

.delete-btn {
  background-color: transparent;
  border: none;
  width: 100%;
}

.delete-space {
  width: 10%;
  display: flex;
  align-items: center;
}

.cart-content {
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}
