.App {
  background-color: #fff7bc; /* rgb(14, 119, 142, 0.6); */
  height: 100%;
}

.page-divide {
  display: flex;
  flex-direction: row;
}

.page-left {
  /* background-color: blue; */
  width: 70%;
}

.page-right {
  background-color: #c0eda6;
  width: 30%;
  /* margin-right: 2rem; */
  border-left: 4.5px solid #fff;
  /* height: 100%; */
}

.add-to-cart {
  width: 5rem;
  height: 4rem;
}

.navbar {
  background-color: #fd5d5d; /* rgb(25, 59, 102, 1); */
  width: 100%;
  height: 3rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.website-title {
  text-align: center;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 800;
  align-items: center;
  justify-content: center;
}

.cart-title {
  margin-left: 1rem;
}
